<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Shop Name</title>
    <meta name="description" content="Shop Page for TEB Project">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body id="home_index" data-page="index" data-language="pl" data-currency="zł">
<div class="top-sticky-bar-container">
    <header class="header-fixed-container" id="header">
        <div class="header-fixed">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col h-logo">
                        <a href="/ProjektTEB/src/main/resources/templates/index.html">
                            <h1>
                                <!--TODO Add logo for shopProject next line-->
                                <img height="40" src="" alt="shopName" />
                            </h1>
                        </a>
                    </div>
                    <div class="col h-content">
                        <div class="h-row">
                            <div class="h-quick-search">
                                <!--TODO Add search function next line (no idea how to so far)-->
                                <form action="" method="POST" name="quick_search" class="h-quick-search-box">
                                    <input type="text" name="search" class="form-control quick-search" value=""/>
                                    <input type="hidden" name="search_type" value="index"/>
                                    <div class="h-quick-search-dropdown">
                                        <div class="quick-search-dropdown">
                                            <div class="md-top">
                                                <select class="dropdown-select" name="elem_id">
                                                    <option value="0" selected="selected">Wszystkie działy</option>
                                                    <option value="1">Komputery</option>
                                                    <option value="2">Telewizory i audio</option>
                                                    <option value="3">Foto i kamery</option>
                                                    <option value="4">AGD</option>
                                                    <option value="5">Smartfony i smartwatche</option>
                                                    <option value="6">Laptopy</option>
                                                    <option value="7">Podzespoły komputerowe</option>
                                                </select>
                                                <button type="button" class="md-button" role="button">
                                                    Wszystkie działy
                                                </button>
                                            </div>
                                            <div class="md-list">
                                                <ul class="md-list-collection">
                                                    <li class="md-list-item selected " data-dropdown-value="0" data-dropdown-label="Wszystkie działy">
                                                        Wszystkie działy
                                                    </li>
                                                    <li class="md-list-item  " data-dropdown-value="1" data-dropdown-label="Komputery">
                                                        Komputery
                                                    </li>
                                                    <li class="md-list-item  " data-dropdown-value="2" data-dropdown-label="Telewizory i audio">
                                                        Telewizory i audio
                                                    </li>
                                                    <li class="md-list-item  " data-dropdown-value="3" data-dropdown-label="Foto i kamery">
                                                        Foto i kamery
                                                    </li>
                                                    <li class="md-list-item  " data-dropdown-value="4" data-dropdown-label="AGD">
                                                        AGD
                                                    </li>
                                                    <li class="md-list-item  " data-dropdown-value="5" data-dropdown-label="Laptopy">
                                                        Laptopy
                                                    </li>
                                                    <li class="md-list-item  " data-dropdown-value="6" data-dropdown-label="Podzespoły komputerowe">
                                                        Podzespoły komputerowe
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn h-quick-search-submit"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
</body>
</html>