<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html" charset="UTF-8">
        <title>Kod do logowania się</title>
    </head>
    <body>
<!--TODO Dodać plik, który będzie sprawdzał dane w miejscu action, i.e. validate.html/jsp(?).-->
        <form method="post" action="validate.jsp">
            Podaj swój login: <br />
            <input type="text" name="name" /><br />
            Podaj swoje hasło: <br />
            <input type="text" name="password" /><br />
            <input type="submit" value="zaloguj">
        </form>
    </body>
</html>