html {
	box-sizing: border-box;
    display=block;
}

link {
	display=none;
}

* {
	box-sizing: border-box;
	outline: none!important
}

*, :after, :before{
	box-sizing: inherit;
}

head {
	display: none;
}

meta {
    display: none;
}

title {
    display: none;
}

style {
    display: none;
}

body {
    background: #f2f2f2;
    color: #0d0d0d;
    font-family: Poppins,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    min-width: 300px;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
    width: 100%;
}

body {
	display: block;
	margin: 8px;
}

.hidden {
	display: none!important;
}

div {
	display: block;
}

.top-sticky-bar-container {
	pointer-events: none;
	postion: sticky;
	top: 0;
	z-index: 150;
}

.header-fixed {
	min-width: 320px;
	padding: 20px 0;
	pointer-events: auto;
}

.container-fluid {
	margin-left: auto;
	margin-right: auto;
	max-width: 1700px;
	padding-left: 16px;
	padding-right: 16px;
	width: 100%;
}
